body{
    background-color: #262626;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}
.header{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header > *{
margin-left: 21px;
color: #FFFFFF;
font-weight: 400;
font-style: normal;
}
.header > h1{
    font-family: 'Righteous';
    font-size: 44px;
    margin-top: 8px;
    line-height: 55px;
    letter-spacing: -0.012em;
}
.header > h2{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
}
.main{
    width: -webkit-fill-available;
    padding-top: 4px;
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title-category{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;

    height: 25px;
    margin-top: 27px;
    margin-bottom: 17px;
}
.food, .drinks, .dessert{
    width: 100%;
    display: flex;
    overflow: auto;
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.food:-webkit-scrollbar, .drinks:-webkit-scrollbar, .dessert:-webkit-scrollbar{
    display: none;
}
.card-food{
    width: 172px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
}
.active{
    outline: 5px solid #32B72F;
    outline-offset: -5px;
    
}
.card-food ion-icon{
    display: none;
}
.value-icon{
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active ion-icon{
    display: block;
    color: #32B72F;
    font-size: 19px;
}
.card-food > img,.card-food > h1, .card-food > .value-icon, .card-food > p{
    width: 144px;
    margin: 0 14px;
    font-family: 'Roboto';
    font-style: normal;

}
.card-food > img{
    height: 87px;
    margin-top: 18px;
    border-radius: 4px;
}
.card-food > h1{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    height: 23px;

    color: #333333;
}
.card-food > p{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    height: 39px;

    color: #A6A6A6;
}
.card-food > .price-food{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}
.dessert{
    margin-bottom: 16px;
}
.footer{
    height: 92px;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}
.footer::-webkit-scrollbar {
    height: 0;
}
.footer > button{
    border:none;
    border-radius: 50px;
    height: 61px;
    width: 364px;
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}
.disabled{
    background-color: #cbcbcb;
}
.button-active{
    background-color: #32B72F;
}
.footer > button > p{
    width: 230px;
}
@media(min-width:414px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #container{
        max-width: 414px;
    }
    .header{
        width: 414px;
        left: auto;
    }
    .main{
        width: inherit;
    }
    .food, .drinks, .dessert{
        width: 395px;
    }
    .footer{
        width: 414px;
        left: auto;
    }
}